#root {
  padding: 2rem;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
.calculator-wrap {
  display: flex;
  width: 18rem;
  background-color: #bcd49f;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border-radius: 1rem;
}
.value-wrap {
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
.value-input {
  height: 70%;
  width: 90%;
  background-color:#eef0e9;
  font-size: 2rem;
  font-weight: 800;
  color: black;
  border-radius: 1rem;
  padding-right: 1rem;
  text-align: right;
}
.button-wrap {
  height: 20rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
button {
  background-color: #596430;
  opacity: 0.8;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 1rem;
}
button:active {
  background-color: #98a07a;
}
.zero-button {
  grid-column: 1/3;
}
.equal-button {
  grid-row: 4/6;
  grid-column: 4/5;
}
.deleteBtn {
  grid-row: 3/4;
  grid-column: 4/5;
}